body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-left: 200px;
    padding-right: 200px;   
}

.header-top {
    display: flex;
    background-color: #1F2937;
    flex: auto;
    padding-top: 20px;
    padding-bottom: 50px;
}

.header-links {
   display: flex;
   margin-left: auto;
}

a {
    text-decoration: none;
    color: white;
    padding: 10px 20px 10px 20px;
}

.header-bot {
    display: flex;
    padding-bottom: 100px;
}

.rch-title {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}
.title-text {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: #e5e7eb;
    margin-top: -45px;
}

.img-logo {
    width: 200px;
    height: 100px;
}

#live-img {
    width: 400px;
    height: 300px;
    padding-left: 50px;
}

.title-button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#img-four {
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: solid 4px #3882f6;
}

li {
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px;
    text-align: center;
}

.mid {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 100px 60px 100px;
}

ul {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 20px;
    width: 600px;
}

#mid-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-bottom: 10px;
}

li p {
    color: #666666;
    font-weight: bold;
}

.quote-container {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#cred {
    font-weight: bold;
    margin-left: auto;
    margin-top: -30px;
    width: 500px;  
}

.quote {
    width: 800px;
    text-align: center;
}

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    background-color: #3882f6;
    width: 1000px;
    justify-self: center;
    align-self: center;
    border-radius: 8px;
    margin-top: auto;
}

.cta-text {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    height: 140px;
    justify-content: center;
}

#cta-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: -15px;
}

.cta-container {
    display: flex;
    flex-direction: column;
    height: 400px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 75px;
    background-color: #1F2937;
    color: #f9faf8;
}

.cta-button {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    border: solid 2px #f9faf8;
    margin-left: 130px;
    cursor: pointer;
}